@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body{
    background-color: #EFEEF1;
    height: 100%;
    margin: 0;

    @include tabletQuery {
        background-color: #ffffff;
    }
}

.card {
    border-radius: 0.5rem;
    width: 12rem;
    height: 20rem;
    background-color: #ffffff;

    @include mobileQuery {
        margin: 2rem;
    }

    &__head{

        @include tabletQuery{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            background-color: #EFEEF1;
            border-radius: 0.2rem;
        }

        @include desktopQuery {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 10rem;
            padding-top: 2rem;
        }
    }

    &__top {
        @include tabletQuery{
            padding-bottom: 0;
        }
        @include desktopQuery{
            display: inline-block;
            margin: 2rem 4rem ;
        }
    }

    &__img{
        width: 100%;
        height: 72%;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    &__container {
        background-color: #ffffff;
    }

    &__link {
        text-decoration: none;
    }

    &__cont {
        display: flex;
        position: absolute;
        margin-top: 0.2rem;
    }

    &__name {
        color: #373458;
        margin: 0;
        padding-left: 1rem;
    }

    &__info {
        color: #373458;
        margin-top: 0.2rem;
        margin-bottom: 0;
        align-items: flex-end;
        padding-left: 1rem;
    }

    &__space{
        height: 2px
    }
}
