@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body {
    background-color: #EFEEF1;
    color: #373458;
}

.image {
    width: 60%;
    height: 100%;
    margin: 0 4rem;
}

.img1 {
    width: 20px;
    height: 20px;
}

.img2 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1px;
    display: none;
}

.app {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1px;
}

.details {

    &__info{

        background-color: #FFFFFF;

        @include mobileQuery{
            width: 90%;
        }
    }

    &__cont{
        background-color: black;
        height: 15rem;

        @include tabletQuery{
            background-color: black;
            height: 30rem;
        }
    }

    &__button{
        background-color: #373458;
        color: #FFFFFF;
        width: 50%;
        border-radius: 0.5rem;
        height: 2rem;
        border-color: #373458;
        margin: 2rem auto;
        display: block;
    }

    &__page{
        height: 80%;
        // width: 80%;
        background-color: #ffffff;
        margin: 0 auto;
        padding-left: 1rem;
        border-radius: 0.5rem;
    
        &__top{
            position: absolute;
            left: 80%;
            top: 57%;
            width: 2rem;
        }
    }
    
}

