@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
    display: flex;
    padding: 0;

    @include tabletQuery{
        padding: 3rem 0 4rem 14rem;
    }

    @include desktopQuery{
        padding: 3rem 0 0 28rem;
    }

    &__home{
        flex: 20;
        padding-left: 1rem;
        @include tabletQuery{
            flex: 5;
        }
        @include desktopQuery{
            flex: 1;
        }
    }

    &__fav{
        flex: 80;
        padding-left: 11.5rem;

        @include tabletQuery{
            padding: 0;
        }
        @include desktopQuery{
            padding: 0;
        }
    }
}
.img{
    height: 200px;
    width: 200px;
}

.home {
    height: 1.5rem;
}

.fav{
    height: 1.5rem;
}

.message{
    height: 1.5rem;
    padding: 0.7rem 0;
}