.nav {
    display: flex;
    border-top: 1px solid black;
    background-color: #702866;
    padding: 0.5rem 0;

    &__home{
        flex: 20;
    }

    &__fav{
        flex: 80;
        padding-left: 14rem;
    }
}
.img{
    height: 200px;
    width: 200px;
}

.home {
    height: 1.5rem;
}

.fav{
    height: 1.5rem;
}

.message{
    height: 1.5rem;
    padding: 0.7rem 0;
}