@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body{
    height: 100%;
    background-color: #EFEEF1
}

.img{
    height: 200px;
    width: 200px;
}

.card {

    &__top--fav{

        @include tabletQuery{
            padding-bottom: 13rem;
            padding-top: 2rem;
            display: flex;
            justify-content: center;
        }
    }
}