@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {

    @include tabletQuery{
        padding-bottom: 7.5rem;
    }

    @include desktopQuery{
        padding-bottom: 9.5rem;
    }
    
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    &__button {
        background-color: #373458;
        color: #FFFFFF;
        width: 50%;
        border-radius: 0.5rem;
        height: 2rem;
        border-color: #373458;
        margin: 2rem;

        @include desktopQuery{
            width: 15%;
        }
    }

    &__input {
        width: 50%;
        border-radius: 0.5rem;
        height: 2rem;
        margin: 1rem 4.7rem;

        @include tabletQuery{
            margin: 1rem 12rem;
        }

        @include desktopQuery{
            width: 50%;
            margin: 1rem;
        }
    }

    &__label {
        margin: 1rem 8rem;

        @include tabletQuery{
            margin: 1rem 12rem;
        }
        @include desktopQuery{
            margin: 1rem 0;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}